<div class="champion-container">
    <div class="pick-champion-title">
        <h1>Pick a champion to battle!</h1>
    </div>
    <div class="champion-button-row">
        <button mat-stroked-button (click)="clickAshe()">Ashe</button>
        <button mat-stroked-button (click)="clickAnnie()">Annie</button>
        <button mat-stroked-button (click)="clickGaren()">Garen</button>
        <button mat-stroked-button (click)="clickZilean()">Zilean</button>
    </div>
</div>
<div class="champion-information">
    <h1>Name: {{ChampVSName}}</h1>
    <h1>Health Maximum: {{ChampVSHealthMax}}</h1>
    <h1>Health Percentage:</h1>
    <kendo-dropdownlist [data]="listChampVSHealthPercentage"></kendo-dropdownlist>
    <h1>Current Health: {{ChampVSHealthCurrent}}</h1>
    <h1>Level: </h1>
    <kendo-dropdownlist [data]="listChampVSLevel"></kendo-dropdownlist>
    <h1>Magic Resist: {{MagicResistFlat}} / {{MagicResistPrecentage}}</h1>
    <h1>Armour: {{ArmourFlat}} / {{ArmourPrecentage}}</h1>
</div>
<div class="items-area">
    <div class="items-buttons">
        <h1>Item1</h1>
        <p>{{Item1Information}}</p>
        <button mat-stroked-button (click)="">Item1</button>
    </div>
    <div class="items-buttons">
        <h1>Item2</h1>
        <p>{{Item2Information}}</p>
        <button mat-stroked-button (click)="">Item2</button>
    </div>
    <div class="items-buttons">
        <h1>Item3</h1>
        <p>{{Item3Information}}</p>
        <button mat-stroked-button (click)="">Item3</button>
    </div>
    <div class="items-buttons">
        <h1>Item4</h1>
        <p>{{Item4Information}}</p>
        <button mat-stroked-button (click)="">Item4</button>
    </div>
    <div class="items-buttons">
        <h1>Item5</h1>
        <p>{{Item5Information}}</p>
        <button mat-stroked-button (click)="">Item5</button>
    </div>
    <div class="items-buttons">
        <h1>Item6</h1>
        <p>{{Item6Information}}</p>
        <button mat-stroked-button (click)="">Item6</button>
    </div>
</div>
<div class="battler-buttton">
    <button mat-stroked-button (click)="">Battle</button>
</div>