
<h1>{{ title  }} {{title.length}}</h1>
<h2>champion that is currently picked is {{ Champ }};</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>

</form>

<div class="example-button-row">
    <button mat-stroked-button (click)="click()">champ</button>
    <button mat-stroked-button (click)="click1()">champ1</button>
    <button mat-stroked-button (click)="click2()">champ2</button>
    <button mat-stroked-button (click)="click3()">champ3</button>
    <button mat-stroked-button (click)="click4()">champ4</button>
    <button mat-stroked-button (click)="click5()">champ5</button>
</div>