

<h1>{{ Champ }}</h1>
<div class="champion-container">
    <div class="pick-champion-title">
        <h1>Pick a champion for your data.</h1>
    </div>
    <div class="champion-button-row">
        <button mat-stroked-button (click)="clickAshe()" routerLink="/Battler">Ashe</button>
        <button mat-stroked-button (click)="clickAnnie()">Annie</button>
        <button mat-stroked-button (click)="clickGaren()">Garen</button>
        <button mat-stroked-button (click)="clickZilean()">Zilean</button>
    </div>
</div>