<div class="batterpartone">
    <div class="champion-information">
        <h1>Name: {{champions.getChampion1Name}}</h1>
        <h1>Health: {{champions.getChamp1Health}}</h1>
        <h1>Mana: {{champions.getChamp1Mana}}</h1>
        <h1>Level: </h1>
        <kendo-dropdownlist [data]="listItemsChampLevel"></kendo-dropdownlist>
        <h1>Abilty Power: {{champions.getChamp1AbiltyPower}}</h1>
        <h1>Attack Damage: {{champions.getChamp1AttackDamage}}</h1>
    </div>
    <div class="abilty-area">
        <div class="abilty-buttons">
            <h1>Passive</h1>
            <p>{{champions.getPassiveInformation}}</p>
        </div>
        <div class="abilty-buttons">
            <h1>Abilty1</h1>
            <p>{{champions.getAbilty1Information}}</p>
            <label>{{champions.getAbilty1Level}}</label>
            <button mat-stroked-button (click)="levelUpAbilty1()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty1()">Down</button>
        </div>
        <div class="abilty-buttons">
            <h1>Abilty2</h1>
            <p>{{champions.getAbilty2Information}}</p>
            <label>{{champions.getAbilty2Level}}</label>
            <button mat-stroked-button (click)="levelUpAbilty2()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty2()">Down</button>
        </div>
        <div class="abilty-buttons">
            <h1>Abilty3</h1>
            <p>{{champions.getAbilty3Information}}</p>
            <label>{{champions.getAbilty3Level}}</label>
            <button mat-stroked-button (click)="levelUpAbilty3()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty3()">Down</button>
        </div>
        <div class="abilty-buttons">
            <h1>Ultimate</h1>
            <p>{{champions.getUltimateInformation}}</p>
            <label>{{champions.getAbiltyUltLevel}}</label>
            <button mat-stroked-button (click)="levelUpAbilty4()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty4()">Down</button>
        </div>
    </div>
    <div class="items-area">
        <div class="items-buttons">
            <h1>Item1</h1>
            <p>{{champions.getItem1Champ1Information}}</p>
            <button mat-stroked-button (click)="Player1Item1Set()">Item1Set</button>
            <button mat-stroked-button (click)="Player1Item1Remove()">Item1Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item2</h1>
            <p>{{champions.getItem2Champ1Information}}</p>
            <button mat-stroked-button (click)="Player1Item2Set()">Item2Set</button>
            <button mat-stroked-button (click)="Player1Item2Remove()">Item2Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item3</h1>
            <p>{{champions.getItem3Champ1Information}}</p>
            <button mat-stroked-button (click)="Player1Item3Set()">Item3Set</button>
            <button mat-stroked-button (click)="Player1Item3Remove()">Item3Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item4</h1>
            <p>{{champions.getItem4Champ1Information}}</p>
            <button mat-stroked-button (click)="Player1Item4Set()">Item4Set</button>
            <button mat-stroked-button (click)="Player1Item4Remove()">Item4Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item5</h1>
            <p>{{champions.getItem5Champ1Information}}</p>
            <button mat-stroked-button (click)="Player1Item5Set()">Item5Set</button>
            <button mat-stroked-button (click)="Player1Item5Remove()">Item5Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item6</h1>
            <p>{{champions.getItem6Champ1Information}}</p>
            <button mat-stroked-button (click)="Player1Item6Set()">Item6Set</button>
            <button mat-stroked-button (click)="Player1Item6Remove()">Item6Remove</button>
        </div>
    </div>
    <div class="timer">
        <h1>How long do you want the battle to last?</h1>
        <kendo-dropdownlist [data]="listItemsBattlerLength"></kendo-dropdownlist>
    </div>
    <div class="part1Finshed">
        <h1>If you answered all the information about what you want your character to have, click the button below.</h1>
        <button mat-stroked-button (click)="battlePlayerOneAnswer()">Set player 2</button>
    </div>
</div>
<div [hidden]="!editChamp2Pick" class="battlerchamp2">
    <div class="champion-container">
        <div class="pick-champion-title">
            <h1>Pick a champion to battle!</h1>
        </div>
        <div class="champion-button-row">
            <button mat-stroked-button (click)="clickAshe2()">Ashe</button>
            <button mat-stroked-button (click)="clickAnnie2()">Annie</button>
            <button mat-stroked-button (click)="clickGaren2()">Garen</button>
            <button mat-stroked-button (click)="clickZilean2()">Zilean</button>
        </div>
    </div>
</div>
<div [hidden]="!editedPartTwo" class="batterparttwo">
    <div class="champion-information">
        <form [formGroup]="championInformationHealthForm" (ngSubmit)="battlePartThreeAnswer()">
            <h1>Name: {{ChampVSName}}</h1>
            <h1>Health Maximum: {{ChampVSHealthMax}}</h1>
            <h1>Health Percentage:</h1>
            <kendo-dropdownlist [dataHealth]="listChampVSHealthPercentage"  formControlName="champ2Health"></kendo-dropdownlist>
            <h1>Current Health: {{ChampVSHealthCurrent}}</h1>
            <h1>Level: </h1>
        </form>
        <form [formGroup]="championInformationLevelForm" (ngSubmit)="battlePartThreeAnswer()">
            <kendo-dropdownlist [dataLevel]="listChampVSLevel" formControlName="champ2Level"></kendo-dropdownlist>
            <h1>Magic Resist: {{MagicResistFlat}} / {{MagicResistPrecentage}}</h1>
            <h1>Armour: {{ArmourFlat}} / {{ArmourPrecentage}}</h1>
        </form>
    </div>
    <div class="items-area">
        <div class="items-buttons">
            <h1>Item1</h1>
            <p>{{champions.getItem1Champ2Information}}</p>
            <button mat-stroked-button (click)="Player2Item1Set()">Item1Set</button>
            <button mat-stroked-button (click)="Player2Item1Remove()">Item1Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item2</h1>
            <p>{{champions.getItem2Champ2Information}}</p>
            <button mat-stroked-button (click)="Player2Item2Set()">Item2Set</button>
            <button mat-stroked-button (click)="Player2Item2Remove()">Item2Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item3</h1>
            <p>{{champions.getItem3Champ2Information}}</p>
            <button mat-stroked-button (click)="Player2Item3Set()">Item3Set</button>
            <button mat-stroked-button (click)="Player2Item3Remove()">Item3Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item4</h1>
            <p>{{champions.getItem4Champ2Information}}</p>
            <button mat-stroked-button (click)="Player2Item4Set()">Item4Set</button>
            <button mat-stroked-button (click)="Player2Item4Remove()">Item4Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item5</h1>
            <p>{{champions.getItem5Champ2Information}}</p>
            <button mat-stroked-button (click)="Player2Item5Set()">Item5Set</button>
            <button mat-stroked-button (click)="Player2Item5Remove()">Item5Remove</button>
        </div>
        <div class="items-buttons">
            <h1>Item6</h1>
            <p>{{champions.getItem6Champ2Information}}</p>
            <button mat-stroked-button (click)="Player2Item6Set()">Item6Set</button>
            <button mat-stroked-button (click)="Player2Item6Remove()">Item6Remove</button>
        </div>
    </div>
    <div class="battler-buttton">
        <button mat-stroked-button (click)="battlePartThreeAnswer()">Battle</button>
    </div>
</div>
<div [hidden]="!editedFinal" class="batterpartfinal">
    <div class="calculator-box">
        <h4>{{champions.IfWinInformation}}</h4>
    </div>
</div>