<div class="batterpartone">
    <div class="champion-information">
        <div class="champion-information-line1">
            <h4 class="champion-information-h41">Name: {{service.getChampion1Name}}</h4>
            <h4 class="champion-information-h4">Health: {{service.getChamp1Health}}</h4>
            <h4 class="champion-information-h4">Mana: {{service.getChamp1Mana}}</h4>
            <h4 class="champion-information-h4kd">Level: </h4>
            <kendo-dropdownlist class="champion-information-kd" [data]="listItemsChampLevel"></kendo-dropdownlist>
            <h4 class="champion-information-h4">Abilty Power: {{service.getChamp1AbiltyPower}}</h4>
            <h4 class="champion-information-h4">Attack Damage: {{service.getChamp1AttackDamage}}</h4>
        </div>
    </div>
    <div class="abilty-area">
        <div class="abilty-buttons">
            <h4 >Passive</h4>
            <p>{{service.getPassiveInformation}}</p>
        </div>
        <div class="abilty-buttons">
            <h4>Abilty1</h4>
            <p>{{service.getAbilty1Information}}</p>
            <label>{{service.getAbilty1Level}}</label>
            <button mat-stroked-button (click)="levelUpAbilty1()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty1()">Down</button>
        </div>
        <div class="abilty-buttons">
            <h4>Abilty2</h4>
            <p>{{service.getAbilty2Information}}</p>
            <label>{{service.getAbilty2Level}}</label>
            <button mat-stroked-button (click)="levelUpAbilty2()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty2()">Down</button>
        </div>
        <div class="abilty-buttons">
            <h4>Abilty3</h4>
            <p>{{service.getAbilty3Information}}</p>
            <label>{{service.getAbilty3Level}}</label>
            <button mat-stroked-button (click)="levelUpAbilty3()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty3()">Down</button>
        </div>
        <div class="abilty-buttons">
            <h4>Ultimate</h4>
            <p>{{service.getUltimateInformation}}</p>
            <label>{{service.getAbiltyUltLevel}}</label>
            <button mat-stroked-button (click)="levelUpAbilty4()">Up</button>
            <button mat-stroked-button (click)="levelDownAbilty4()">Down</button>
        </div>
    </div>
    <div class="items-area">
        <div class="items-buttons">
            <h4>Item1</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem1Champ1}}.</p>
            <button mat-stroked-button (click)="Player1Item1Set()">Item1Set</button>
            <button mat-stroked-button (click)="Player1Item1Remove()">Item1Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item2</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem2Champ1}}.</p>
            <button mat-stroked-button (click)="Player1Item2Set()">Item2Set</button>
            <button mat-stroked-button (click)="Player1Item2Remove()">Item2Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item3</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem3Champ1}}.</p>
            <button mat-stroked-button (click)="Player1Item3Set()">Item3Set</button>
            <button mat-stroked-button (click)="Player1Item3Remove()">Item3Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item4</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem4Champ1}}.</p>
            <button mat-stroked-button (click)="Player1Item4Set()">Item4Set</button>
            <button mat-stroked-button (click)="Player1Item4Remove()">Item4Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item5</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem5Champ1}}.</p>
            <button mat-stroked-button (click)="Player1Item5Set()">Item5Set</button>
            <button mat-stroked-button (click)="Player1Item5Remove()">Item5Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item6</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem6Champ1}}.</p>
            <button mat-stroked-button (click)="Player1Item6Set()">Item6Set</button>
            <button mat-stroked-button (click)="Player1Item6Remove()">Item6Remove</button>
        </div>
    </div>
    <div class="timer">
        <h4>How long do you want the battle to last?</h4>
        <kendo-dropdownlist class="middle"[data]="listItemsBattlerLength"></kendo-dropdownlist>
    </div>
    <div class="part1Finshed">
        <h4>If you answered all the information about what you want your character to have, click the button below.</h4>
        <button class="middle" mat-stroked-button (click)="battlePlayerOneAnswer()">Set player 2</button>
    </div>
</div>
<div [hidden]="!editChamp2Pick" class="battlerchamp2">
    <div class="champion-container">
        <div class="pick-champion-title">
            <h4>Pick a champion to battle!</h4>
        </div>
        <div class="champion-button-row">
            <button class="middle" mat-stroked-button (click)="clickAshe2()">Ashe</button>
        </div>
    </div>
</div>
<div [hidden]="!editedPartTwo" class="batterparttwo">
    <div class="champion-information">
        <form [formGroup]="championInformationHealthForm" (ngSubmit)="battlePartThreeAnswer()">
            <h4 class="champion-information-h412">Name: {{ChampVSName}}</h4>
            <h4 class="champion-information-h42">Health Maximum: {{ChampVSHealthMax}}</h4>
            <h4 class="champion-information-h42">Health Percentage:</h4>
            <kendo-dropdownlist class="champion-information-kd2" [data]="listChampVSHealthPercentage"  formControlName="champ2Health"></kendo-dropdownlist>
            <h4 class="champion-information-h42">Current Health: {{ChampVSHealthCurrent}}</h4>
            
        </form>
        <form [formGroup]="championInformationLevelForm" (ngSubmit)="battlePartThreeAnswer()">
            <h4 class="champion-information-h42">Level: </h4>
            <kendo-dropdownlist class="champion-information-kd2" [data]="listChampVSLevel" formControlName="champ2Level"></kendo-dropdownlist>
            <h4 class="champion-information-h42">Magic Resist: {{MagicResistFlat}} / {{MagicResistPrecentage}}</h4>
            <h4 class="champion-information-h42">Armour: {{ArmourFlat}} / {{ArmourPrecentage}}</h4>
        </form>
    </div>
    <div class="items-area">
        <div class="items-buttons">
            <h4>Item1</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem1Champ2}}.</p>
            <button mat-stroked-button (click)="Player2Item1Set()">Item1Set</button>
            <button mat-stroked-button (click)="Player2Item1Remove()">Item1Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item2</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem2Champ2}}.</p>
            <button mat-stroked-button (click)="Player2Item2Set()">Item2Set</button>
            <button mat-stroked-button (click)="Player2Item2Remove()">Item2Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item3</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem3Champ2}}.</p>
            <button mat-stroked-button (click)="Player2Item3Set()">Item3Set</button>
            <button mat-stroked-button (click)="Player2Item3Remove()">Item3Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item4</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem4Champ2}}.</p>
            <button mat-stroked-button (click)="Player2Item4Set()">Item4Set</button>
            <button mat-stroked-button (click)="Player2Item4Remove()">Item4Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item5</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem5Champ2}}.</p>
            <button mat-stroked-button (click)="Player2Item5Set()">Item5Set</button>
            <button mat-stroked-button (click)="Player2Item5Remove()">Item5Remove</button>
        </div>
        <div class="items-buttons">
            <h4>Item6</h4>
            <p>Add or remove items for the champion.
                Current item equiped is {{service.getItem6Champ2}}.</p>
            <button mat-stroked-button (click)="Player2Item6Set()">Item6Set</button>
            <button mat-stroked-button (click)="Player2Item6Remove()">Item6Remove</button>
        </div>
    </div>
    <div class="battler-buttton">
        <button mat-stroked-button (click)="battlePartThreeAnswer()">Battle</button>
    </div>
</div>
<div [hidden]="!editedFinal" class="batterpartfinal">
    <div class="calculator-box">
        <h4>Winner! {{service.IfWinInformation}}</h4>
    </div>
</div>