<mat-toolbar colour="primary">
    <button mat-button routerLink="/champions" (click)="cleanLocalStorage()">Home</button>
    <span style="flex: 1 1 auto"></span>
    <button mat-button *ngIf="auth.isAuthenicated">Welcome {{auth.getUserName}}</button>
    <button mat-button *ngIf="auth.isAuthenicated"(click)="auth.logout()" (click)="cleanLocalStorage()">Logout</button>
    <button mat-button *ngIf="!auth.isAuthenicated" (click)="cleanLocalStorage()" routerLink="Register">Register</button>
    <button mat-button *ngIf="!auth.isAuthenicated" (click)="cleanLocalStorage()" routerLink="Login">Login</button>
</mat-toolbar>
